.banner {
  width: 100%;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 72px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h3 {
  color: white;
}

.banner a {
  margin-top: 10px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .banner h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  .banner h3 {
    font-size: 26px;
  }
  .banner {
    width: 90%;
  }
}
