// Specific CSS for your home-page
.page {
  height: 100vh;
}

.about {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  margin: 30px;
}

.about p {
  color: black;
  font-size: 32px;
  padding: 32px;
}
