<nav class="navbar navbar-expand-md">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <%= link_to "Home", root_path, class: "nav-link link-nodeco"%>
              </li>
              <li class="nav-item">
                  <%= link_to "Projects", project_index_path, class: "nav-link link-nodeco"%>
              </li>
              <li class="nav-item">
                  <%= link_to "Contact", contact_index_path, class: "nav-link link-nodeco"%>
              </li>
          </ul>
      </div>
  </nav>
