<div class="page d-flex align-items-center justify-content-center">
  <div class="banner" id="scrolldown">
    <h1>Jonathan Wagner</h1>
    <h3>Full Stack Web Developer</h3>
    <a href="#two" class="btn btn-primary">About</a>
  </div>
</div>


<div class="about">
  <div>
    <h2 id="two"></h2>
    <p>Jonathan Wagner is a full stack developer based in Bordeaux. He lived 4 years in the Philippines</p>
  </div>
</div>
