<div class="page d-flex align-items-center justify-content-center">
  <div class="banner" id="scrolldown">
    <h1>Jonathan Wagner</h1>
    <h3>Full Stack Web Developer</h3>

    <a href="#two" class="btn btn-dark">About</a>

  </div>
</div>


<div class="about">
  <div class="about-text">
    <h2 id="two"></h2>
    <h2 id="about">About me</h2>
    <p class="text-justify">To start with, I would say that I have a very atypical professional career! <br>
     I first started as an opera singer, training at the Conservatory of Music of Bordeaux and later singing in worldwide stages. After 3 years, I moved to Paris and learned Musical Theater at the International Academy of Musical Theater where I was taugh how to sing, act and dance! Concomitantly to this, I finished my opera training at the Conservatory of Maisons-Alfort. 1 year after both graduations, I decided to move to the Philippines to improve my artistic skills and discover new professional horizons. <br>
    Luckily, it wasn't long until I had the chance to meet the right persons (Chief consultant, Head of Business Intelligence and Analytics at Sencor and former President and CEO of Bankard) who mentored me to become a <strong>consultant in Business Development</strong>, specializing in <strong>Operation Control</strong> (real estate industry) and in <strong>Data analytics</strong> (Stock Market industry), challenging myself everyday and sharpening my logic and my business side. <br>
    Curious by nature and willing to improve my communication skills, I decided to take an exam which led me to become a part-time <strong>French Teacher</strong> in a Filipino business school (Enderun College). <br>
    As I quickly developed a bigger interest for business and triggered by the high economic growth of the country, I opened my own 4 employees business, selling sweets in one of the largest mall of the Philippines. <br>
    After 4 years living abroad, full of experiences and ideas, I came back to Bordeaux and started to learn how to <strong>code in C</strong>, excited to know more about the growing tech industry. Quickly realizing that coding was combining my artistic side (front), logical side (back) and my business side, I decided to join <strong>Le Wagon School</strong> Bordeaux where I learned how to properly code in <strong>Ruby, Rails, HTML5, CSS3, JavaScript</strong> and use other technologies (SQL, MySQL, PostgreSQL, Git, GitHub, Heroku, Stripe, MapBox, Action Cable, Algolia, Devise, Pundit, Figma...). Right after obtaining my <strong>Level 2 RNCP Web Developer Certificate</strong> in September 2019, I became a Teacher Assistant at the Wagon Bordeaux School and started 2 professional projects for Europe and Asia. At the same time, I learned <strong>data analytics</strong> using <strong>Python, NumPy, Pandas, SciPy, Matplotlib, Seaborn, Hadoop and Qlikview</strong>. </p>
  </div>
</div>
