<div class="page">
  <div class="banner" id="scrolldown">
    <h1>Jonathan Wagner</h1>
    <h3>Full Stack Web Developer</h3>
    <a href="#linktobottom" class="btn btn-primary">About</a>
  </div>



  <div class="about">
    <a name="linktobottom"></a>
    <p>Jonathan Wagner is a full stack developer based in Bordeaux. He lived 4 years in the Philippines</p>
  </div>
</div>


