<div class="container-fluid">
  <div class="cards">
    <a href="https://www.qultur.xyz" target=”_blank”>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        QultuR
      </div>
    </a>
    <a href="https://rent-my-cat.herokuapp.com/" target=”_blank”>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Rent My Cat
      </div>
    </a>

    <a href="https://www.qultur.xyz" target=”_blank”>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Website 3
      </div>
    </a>

    <a href="https://www.qultur.xyz" target=”_blank”>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        Website 4
      </div>
    </a>
  </div>
</div>
