<div class="container">

  <a href="https://www.qultur.xyz" target=”_blank”>

    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg">
      </div>
    </div>
  </a>

  <a href="https://rent-my-cat.herokuapp.com/" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"></div>
    </div>
  </a>

  <a href="https://www.qultur.xyz" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"></div>
    </div>
  </a>

  <a href="https://www.qultur.xyz" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"></div>
    </div>
  </a>

  <a href="https://www.qultur.xyz" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"></div>
    </div>
  </a>
</div>




