<div class="container">

  <a href="https://qultur.herokuapp.com/" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://res.cloudinary.com/my-apps-le-wagon/image/upload/v1570364170/Screenshot_from_2019-10-06_13-55-12_1_exzmz5.png"></div>
    </div>
  </a>

  <a href="https://rent-my-cat.herokuapp.com/" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://res.cloudinary.com/my-apps-le-wagon/image/upload/v1570461730/Screenshot_from_2019-10-07_17-20-34_sjorij.png"></div>
    </div>
  </a>

  <a href="#" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://res.cloudinary.com/my-apps-le-wagon/image/upload/v1572452643/Ongoingproject_etv82m.jpg"></div>
    </div>
  </a>

  <a href="#" target=”_blank”>
    <div class="cover atvImg">
      <div class="atvImg-layer" data-img="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg"></div>
    </div>
  </a>
</div>
