.container {
  width : 100%;
  height: 100%;
  display: grid;
  grid-gap: 30px;
  margin-top: 300px;
  margin-bottom: 100px;
  min-height: 80vh;
}

.cover {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  height: 360px;
  width: 100%;
  border-radius: 8px;
}


@media (min-width: 100px) and (max-width: 575px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 120px;
    margin-bottom: 20px;
    grid-gap: 20px;
  }
  .cover {
    height: 203px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.atvImg {
  border-radius: 8px;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(#000,0);
}

.atvImg img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(14,21,47,0.25);
}

.atvImg-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
  box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.atvImg-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.atvImg-rendered-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  transition: all 0.1s ease-out;
  overflow: hidden;
  border-radius: 8px;
}

.atvImg-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-out;
  box-shadow: 0 8px 30px rgba(14,21,47,0.6);
}

.atvImg-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255,255,255,.25) 0%,rgba(255,255,255,0) 60%);
}
