.navbar{
    color: #ffffff;
    font-size: 28px;
    padding: 6rem 7rem 3rem 10rem;
    position: fixed;
    top: 0;
    transition: all .5s;
    transition-timing-function: ease-out;
    width: 100%;
    z-index: 99;

    .nav-item{
        &:not(:last-child){
            margin-right: 3rem;
        }
    }

    &.onscroll{
        background-color:#000000;
        padding: 2rem 7rem;
    }
}

.link-nodeco{
  color: inherit; text-decoration: none;
  &:hover{
    color: inherit; text-decoration: none;
  }
}
